{% extends "base_template.html" %}

{% block title %}Post{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <div>
            {{ form.title.label }}
            {{ form.title(size=64) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.title_slug.label }}
            {{ form.title_slug }}<br>
            {% for error in form.title_slug.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.bible.label }}
            {{ form.bible }}<br>
            {% for error in form.bible.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div></div>
            {{ form.content.label }}
            {{ form.content(rows=10, cols=64) }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        <div>
            {{ form.submit() }}
        </div>

    </form>
{% endblock %}