{% extends "base_template.html" %}



{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(size=128) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.bibliography.label }}
            {{ form.bibliography(size=128) }}<br>
            {% for error in form.bibliography.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.content.label }}
            {{ form.content }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}