<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="navbar.css") }}">
</head>
<body>
    <header>
        {% block header %}
            {% include "navbar.html"%}
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>